.idea/
__pycache__/
*/migrations/*.py
!__init__.py
static/
media/
build/
dist/
env/
bin/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
.cache
*.egg-info/
*.egg
*.installed.cfg
*.so
*.log
*.out
*.pyc
*.pyo
*.conf
